/* CONTAINS STYLES SHARED ACROSS THE WHOLE WEBSITE */

* {
    /* remove default padding and margin of all HTML elements */ 
    padding: 0;
    margin: 0;

    /* default body font */
    font-family: 'Open Sans';
    font-size: 1em;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #FCFCE1;
    font-family: 'Raleway';
    font-size: 4em;
    font-weight: 900;
}

/* the canvas is displayed behind all other elements */
#canvas-container {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* a section fills the whole viewport */
section {
    display: flex;

    /* fallback for older browsers */
    width: 100%;
    height: 100%;

    /* for newer browsers */
    width: 100vw;
    height: 100vh;
}

/* the section´s title which is displayed in the left-center of the viewport */
.section-title-col {
    float: left;
}

.section-content-col {
    float: left;
    width: 100%;
    height: 100%;

    /* prevent padding from making box bigger */
    box-sizing: border-box;
    padding: 5em;
}

.section-title {
    position: relative;
    /* center vertically */
    top: 50%;
    top: 50vh;
    transform: translateY(-50%);
    padding: 5em;
    /* 
        add a dark gradient such that the teleporting dots 
        that are drawn below the title are not that distracting
    */
    background: radial-gradient(
        rgba(37, 44, 74, 0.5), 
        rgba(37, 44, 74, 0.0)
    );
}

/* small caption text */
.caption {
    font-size: small;
}

#navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 1em;  

    box-sizing: border-box;
    padding-right: 1em;
    padding-top: 1em;
}

#navbar a {
    text-decoration: none;
    color: #FCFCE1cc; 
    display: block;
    float: right;
    padding: 1em;
    box-sizing: border-box;
}

#navbar a:hover {
    color: #FCFCE1;
    cursor: pointer;
}
