
/* a card displaying information about a certain work of mine*/
.card-work {
    position: relative;
    float: left;
    /* margin between cards */
    margin: 2em;
    min-width: 200px;
    min-height: 200px;
    max-width: 20em;
    border-radius: 0.5em;
    color: #FCFCE1;
    background-color: #1A1A3Ecc;
    transition: transform 0.1s;
}

.card-work:hover {
    transform: scale(1.1);
}

.card-work-bg {
    height: 10em;
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    transition: opacity 0.1s;
    background-size: cover;
}

.card-work:hover .card-work-bg {
    opacity: 0.45;
}

.card-work-content {
    width: 100%;
    min-height: 12em;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.card-work h1 {
    color: #FCFCE1;
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
}

#section-work .section-content-col {
    position: flex;
    /* TODO */
    overflow: visible;
}
